
$color-red: #ff6a6a;
$color-red2: #ff6a6add;
$color-gray: #222;
$color-gray2: #aaa;

.avatar-chooser {
  display: flex;
  justify-items: center;
  align-items: center;
  > img {
    margin: 0 .75rem;
    width: 8rem;
    height: 8rem;
    border-radius: 4px;
  }
  > button {
    padding: .5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-gray;
    color: $color-gray;
    cursor: pointer;
    transition: all .2s;
    &:hover {
      background-color: $color-gray;
      color: white;
    }
  }
}


.textfield {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  > span {
    display: inline-block;
    width: 100%;
  }
  > input {
    margin-left: auto;
    width: 100%;
    padding: .5rem;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  padding: .5rem 0;
  border-radius: 50rem;
  border: none;
  box-shadow: 0 2px 4px #000;
  

  &, & > a {
    font-weight: bold;
    text-decoration: none;
    color: white;
  }

  &:not(.loading, .disabled) {
    background-color: $color-red;
  }

  &:not(.loading, .disabled):hover {
    background-color: $color-red2;
    cursor: pointer;
  }

  &.loading {
    background-color: $color-red2;
  }

  &.disabled {
    background-color: $color-gray2;
  }

  &.loading > svg {
    animation-name: button-loading-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes button-loading-animation {
  from {transform: rotateZ(0deg);}
  to {transform: rotateZ(360deg);}
}

.waiting-room-player {
  width: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > img {
    margin-bottom: .5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px black;
  }
  > span {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}

.players-queue {
  width: auto;
  margin: 0 1rem;
  border: .5rem solid $color-red;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.room-player {
  padding: 0 1.5rem 0 1rem;
  display: flex;
  flex-direction: column;
  > div:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    > img {
      margin-right: 1rem;
      width: 4rem;
      height: 4rem;
      border-radius: 4px;
      box-shadow: 0 2px 4px black;
    }
    > div {
      > span:nth-child(2) {
        color: $color-red;
        text-shadow: 0 2px black;
      }
    }
  }
  > div:nth-child(2) {
    display: flex;
    justify-content: center;
    > img {
      width: 2rem;
      margin: .5rem .1rem 0;
      box-shadow: 0 2px 4px black;
    }
  }
}

.page-options {
  padding-left: 1rem;
  > div {
    display: inline-block;
    margin-top: 1rem;
    width: 5vh;

    > svg {
      font-size: 1.25rem;
    }
  }
}

.modal-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(.open) {
    display: none;
  }

  > .modal {
    display: grid;
    width: 60vw;
    height: 60vh;
    border-radius: 4px;
    box-shadow: 0 2px 4px black;
    grid-template:
      "topbar" 5vh
      "main" 55vh
      / 100%;

    > .topbar {
      grid-area: topbar;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border-radius: 4px 4px 0 0;
    }

    > .main {
      grid-area: main;
    }

    &.log {
      background-color: #000d;

      > .topbar {
        background-color: black;
        
        > .button {
          width: 5vh;
          margin-right: 1rem;
        }
      }

      > .main {
        color: white;
        padding: 1rem 1.6rem;
        overflow-y: auto;
      }
    }

  }

}